.form-container{
	height: auto;
	width: auto;

	form{
		table{
			border: none;
			td{
				padding: 10px;
			}
			input{
				margin-left: 10px;
			}

			input[type="submit"]{
				@extend %formbutton;
				background: red;
			}

			input[type=reset]{
				@extend %formbutton;
				background: blue;
			}
		}
	}
}